doctype html
html
    head
        title='GDMN_TA'
    body
        form(method='POST' action='/auth/login')
            div
                input(type='text' id='login' placeholder='login' name='login')
            div
                input(type='password' id='password' placeholder='password' name='password')
            button(type='submit') Log in